.app-footer
  margin-top: 126px
  padding-top: 14px
  padding-bottom: 14px
  background-color: $light-grey

.app-footer__wrapper
  width: 1169px
  margin: 0 auto

  @media (max-width: 1180px)
    width: 80%

.app-footer__list
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.app-footer__item
  margin-bottom: 5px

.app-footer__link
  text-decoration: none
  font-weight: 600
  font-size: 16px
  color: $fonts-grey

  &:hover
    opacity: 0.7

  &:active
    opacity: 0.5

  @media (max-width: 1180px)
    font-size: 15px
