.main-nav
  width: 1169px
  margin: 0 auto
  display: flex
  justify-content: space-between
  padding-top: 8px
  padding-bottom: 5px

.main-nav__logo-link
  margin-right: auto
  display: flex
  align-items: center
  text-decoration: none
  color: $fonts-grey
  font-size: 14px
  font-weight: 600
  letter-spacing: 0.13em

.main-nav__logo-pic
  margin-right: 20px

.main-nav__logo-span
  font-weight: bold
  font-size: 18px

.main-nav__list
  display: flex
  margin-left: auto
  padding-top: 5px

.main-nav__item
  margin-left: 70px

.main-nav__link
  text-decoration: none
  color: $fonts-grey
  font-weight: 600
  font-size: 16px
