.main-container
  width: 1181px
  margin: 0 auto
  display: grid
  grid-template-rows: auto auto
  grid-template-columns: 1fr 1fr
  padding-top: 91px
  column-gap: 56px


.main-nav-container__tabs
  grid-column-start: 1
  grid-column-end: -1
  margin-top: 54px
