.review-form
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(88, 87, 87, 0.6)
  display: flex
  align-items: center

.review-form__container
  box-sizing: border-box
  width: 698px
  height: 415px
  background-color: $light-grey
  margin: 0 auto
  padding: 30px 35px 35px 35px
