.slider__pics-box
  width: 600px
  display: flex
  overflow-x: hidden

.slider__controls
  display: flex
  align-items: center
  margin-top: 22px

.slider__minis-list
  display: flex
  align-items: center

.slider__minis-item
  margin-right: 25px

.slider__control-btn
  width: 52px
  height: 52px
  border-radius: 50%
  background-color: transparent
  border: 1px solid $border-grey
  cursor: pointer

  &--back
    transform: rotate(180deg)
    margin-right: 30px
